{%extends 'all_pixxies/base.html'%} 
{% block content %}
<div class="container">

  <div class="row">
    {% if photoz%}
      <h2>Found {{ photoz|length }} of searched term {{message}}</h2>
    {% else %}
      <h2> The category {{message}} does not exist </h2>
    {% endif %}

  </div>

  <div class="row">

  {% if photoz %}
    {% for photo in photoz %}
      <div class="col-sm-6 col-md-3">
          <h1>{{photo.title}}</h1>
      </div>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}